---
const pathname = Astro.url.pathname;
---

<header>
  <nav class="nav" aria-label="Desktop Navigation">
    <div class="logo">
      <img src="/src/assets/logo.svg" alt="Logo" />
    </div>
    <div class="menu-desktop">
      <ul>
        <li>
          <a href="/" class={pathname === "/" ? "active" : ""}
            ><span aria-hidden="true">00</span> HOME</a
          >
        </li>
        <li>
          <a
            href="/destination"
            class={pathname === "/destination" ? "active" : ""}
            ><span aria-hidden="true">01</span> DESTINATION</a
          >
        </li>
        <li>
          <a href="/crew" class={pathname === "/crew" ? "active" : ""}
            ><span aria-hidden="true">02</span> CREW</a
          >
        </li>
        <li>
          <a
            href="/technology"
            class={pathname === "/technology" ? "active" : ""}
            ><span aria-hidden="true">03</span> TECHNOLOGY</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<style>
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 40px;
    gap: 32px;
    align-self: stretch;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .logo img {
    width: 40px;
  }

  .menu-desktop {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    padding: 40px 0;
    width: -moz-available;
  }
  .menu-desktop ul {
    display: flex;
    align-items: center;
    gap: 40px;
    width: -moz-available;
    justify-content: flex-end;
    margin-right: 40px;
  }
  .menu-desktop a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: var(--font-secondary-2);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-bottom: 39px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  .menu-desktop a.active {
    border-bottom: 3px solid var(--color-white);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .menu-desktop a.active span {
      display: none;
    }
  }

  .menu-desktop a span {
    font-weight: bold;
    font-weight: 800;
  }

  @media (min-width: 1024px) {
    .menu-desktop {
      width: 664px;
      margin-top: 48px;
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(40px);
      position: relative;
    }
    .menu-desktop::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 95%;
      width: clamp(40px, 25vw, 600px);
      height: 2px;
      background-color: var(--color-white);
      opacity: 0.25;
      z-index: 10;
    }

    .logo img {
      width: 50px;
      margin-top: 48px;
      margin-left: 40px;
    }
  }
</style>
